@font-face {
    font-family: "lichess";
    src: url("/assets/fonts/lichess.woff2") format("woff2");
    font-display: block;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/noto-sans-latin.woff2") format("woff2");
}
