@font-face {
    font-family: "lichess";
    src: url("/assets/fonts/lichess.woff2") format("woff2");
    font-display: block;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/notosans/v7/o-0IIpQlx3QUlC5A4PNr6DRAW_0.woff2) format("woff2");
}
