@import "themes";

.theme-switch {
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  flex-flow: row wrap;
  font: inherit;
  //margin-left: auto;

  @include themify() {
    background-color: themed("bg-tertiary");
    border: 1px solid themed("border-primary");
  }

  div {
    flex: 1 1 auto;
    position: relative;

    @include themify() {
      border-right: 1px solid themed("border-primary");
    }
  }

  div:last-child {
    border-right: 0;
  }

  input {
    position: absolute;
    left: -99999px;
    font: inherit;

    &:checked + label {
      color: white;

      @include themify() {
        background: themed("accent");
      }

      text-shadow: 0 1px 1px black !important;
      box-shadow: 0 3px 4px hsla(0deg, 0%, 0%, 0.15) inset;
    }
  }

  label {
    @include themify() {
      background: themed("bg-tertiary");
    }

    display: flex;
    flex-flow: row wrap;

    align-items: center;
    justify-content: center;

    padding: 0.2em 0.5em 0.2em 0.5em;

    height: 100%;
    user-select: none;
    cursor: pointer;

    &:before {
      font-size: 1em !important;
    }
  }
}
