@import "light";

.user-table,
table,
tbody,
tr {
    width: 100%;
}

.user-table {
    background-color: $c-bg-page-tertiary;
    white-space: nowrap;
    border: 1px solid $c-border-color;

    td {
        display: table-cell;
        padding: 0.4em 0.5em;
        &:first-child {
            padding-left: 0.7em;
        }
    }

    tr {
        &:nth-child(odd) {
            background: $c-bg-page-secondary;
        }
    }

    .user-link {
        color: $c-user-link;
        font-weight: bold;

        &:hover {
            color: $c-link;
        }
    }

    .title {
        color: $c-title;
        padding-right: 0.5em;
    }

    good {
        color: $c-good;
    }

    bad {
        color: $c-bad;
    }

    .rp {
        text-align: right;
    }

    .line {
        color: $c-font;
        opacity: 0.5;
        display: inline-block;
        width: 1.5em;
        text-align: center;
        vertical-align: text-top; 
    }

    .user-link.online .line {
        color: $c-online;
        opacity: 0.9;
    }

    .user-link.online .line.patron {
        opacity: 1;
    }

    .user-link .line.patron {
        opacity: 0.8;
    }

    .game-link {
        color: $c-font;
        opacity: 1;
        &:hover {
            color: $c-link;
            opacity: 1;
        }
    }
}