@import "themes";

.user-table,
table,
tbody,
tr {
    width: 100%;
}

.user-table {
    @include themify() {
        background-color: themed('bg-tertiary');
        border: 1px solid themed('border-primary');
    }

    white-space: nowrap;


    td {
        display: table-cell;
        padding: 0.4em 0.5em;
        &:first-child {
            padding-left: 0.7em;
        }
    }

    tr {
        &:nth-child(odd) {
            @include themify() {
                background-color: themed('bg-secondary');
            }
        }
    }

    .user-link {
        @include themify() {
            color: themed('user-link');
        }

        font-weight: bold;

        &:hover {
            @include themify() {
                color: themed('link');
            }
        }
    }

    .title {
        @include themify() {
            color: themed('chess-title');
        }

        padding-right: 0.5em;
    }

    good {
        @include themify() {
            color: themed('good');
        }
    }

    bad {
        @include themify() {
            color: themed('bad');
        }
    }

    .rp {
        text-align: right;

        &::before {
            margin-right: .2em;
        }
    }

    .line {
        @include themify() {
            color: themed('font');
        }

        opacity: 0.5;
        display: inline-block;
        width: 1.5em;
        text-align: center;
        vertical-align: text-top; 

        &::before {
            margin-right: .4em;
        }
    }

    .user-link.online .line {
        @include themify() {
            color: themed('online');
        }

        opacity: 0.9;
    }

    .user-link.online .line.patron {
        opacity: 1;
    }

    .user-link .line.patron {
        opacity: 0.8;
    }

    .game-link {
        @include themify() {
            color: themed('font');
        }

        opacity: 1;
        &:hover {
            @include themify() {
                color: themed('link');
            }

            opacity: 1;
        }

        margin-right: .5em;
    }

    .rating::before {
        margin-right: .3em;
    }
}