@import "themes";
@import "common";
@import "fonts";
@import "icons";
@import "table";
@import "collapsible";
@import "footer";
@import "switch";

body {
    min-width: 25em;
}

main {
    @include themify() {
        background-color: themed('bg-primary');
        color: themed('font');
    }

    padding: .5em;
}