@import "themes";
@import "common";
@import "../common/data-icon";
@import "table";
@import "collapsible";
@import "footer";
@import "switch";
@import "minigame";

body {
    min-width: 25em;
}

main { 
    @include themify() {
        background-color: themed('bg-primary');
        color: themed('font');
    }

    padding: .5em;
    
    .info-text {
        margin: .5em 1em 1em 1em;
    }
}