# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
dist
# don't lint nyc coverage output
coverage
# don't lint locales
locales
# don't lint assets folder
assets
# don't lint vendor folder
vendor
# don't list webpack config files
webpack.*
# ignore eslint config
.eslintrc.js