@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../common/data-icon";

$color-check: #629924;
$color-times: #c33;

.options-navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  min-height: 4rem;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(238deg)
    brightness(106%) contrast(101%);
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.ln-brand-icon {
  width: 2rem;
  height: 2rem;
}

.user-table {
  .remove-user-btn {
    display: flex;
    margin-left: auto;
    opacity: 0;
  }

  .notify-playing-btn,
  .notify-online-btn {
    cursor: pointer;
  }

  tr:hover {
    background-color: darken($color: $light, $amount: 10);
    .remove-user-btn {
      opacity: 1 !important;
    }
  }

  td,
  th {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }

  a {
    text-decoration: none;
  }

  .user-link:hover {
    text-decoration: underline;
  }

  .check {
    color: $color-check;
    &:hover {
      color: lighten($color-check, 20%);
    }
  }

  .times {
    color: $color-times;
    &:hover {
      color: lighten($color-times, 20%);
    }
  }
}

$switch-checked: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='-4%20-4%208%208'%3E%3Ccircle%20r='3'%20fill='rgba(255,255,255,1)'/%3E%3C/svg%3E");
$switch-disabled: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='-4%20-4%208%208'%3E%3Ccircle%20r='3'%20fill='rgba(0,%200,%200,%200.25)'/%3E%3C/svg%3E");

.form-switch {
  .form-check-input {
    background-image: $switch-disabled;
    &:focus {
        background-image: $switch-disabled;
    }
    &:checked {
      background-image: $switch-checked;
    }
  }
}
